/*------- Variables -------*/

:root {
	--white: #fff;
	--dark: #111;
	--background: #202124;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 14px;
	font-family: sans-serif;
}

body {
	background: var(--background);
}

/*------- Navbar -------*/

.nav {
	display: flex;
	justify-content: end;

	height: 60px;

	padding: 6px;
}

.nav a:nth-child(1) {
	color: var(--white);

	margin: auto 8px;

	cursor: pointer;
	text-decoration: none;
}

.nav a:nth-child(1):hover {
	text-decoration: underline;
}

.nav a:nth-child(2) {
	color: var(--white);

	margin: auto 8px;

	cursor: pointer;
	text-decoration: none;
}

.nav a:nth-child(2):hover {
	text-decoration: underline;
}

.nav a:nth-child(3) {
	display: flex;
	align-items: center;

	margin: auto 8px;

	height: 40px;
	width: 40px;
	border-radius: 20px;
}

.nav a:nth-child(3):hover {
	background: #303134;
}

.google-apps-icon {
	height: 23px;
	width: 23px;

	margin: auto;
}

.nav a:nth-child(4) {
	color: var(--dark);
	background: #8ab4f8;

	text-align: center;
	text-decoration: none;

	margin: auto 8px;
	padding: 9px 25px;

	border-radius: 4px;
	border: 1px solid transparent;
}

.nav:nth-child(4):hover {
	background: #93baf9;
}

/*------- Main -------*/

main section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	height: 650px;
}

.google-icon {
	height: 92px;
	width: auto;

	margin: 0 auto 30px;
}

.container {
	display: flex;

	background: transparent;
	border: 1px solid #303134;
	border-radius: 24px;
	box-shadow: var(--dark);

	height: 44px;
	width: 600px;

	margin: 0 auto 20px;
}

.container img {
	height: 20px;
	width: 20px;

	margin: auto 15px;
}

.container input {
	color: var(--white);
	background: transparent;

	height: 44px;
	width: 600px;

	outline: none;
	border: none;
	word-wrap: break-word;

	margin: auto;
}

.container:hover {
	background: #303134;
}

.btnContainer button {
	background: #303134;

	height: 36px;
	width: 150px;

	margin: 11px 4px;

	border: none;
	border: 1px solid #303134;
	border-radius: 4px;

	cursor: pointer;
}

.btnContainer button:hover {
	border-color: #5f6368;
}

.btnContainer button a {
	color: var(--white);
	text-decoration: none;
}

/*------- Footer -------*/

footer {
	background: #171717;

	width: 100%;

	position: fixed;
	left: 0;
	bottom: 0;
}

.ubicacion {
	font-size: 15px;
	color: #9aa0a6;

	padding: 15px 30px;
	border-bottom: 1px solid #212327;
}

footer section:nth-child(2) {
	display: flex;
	justify-content: space-between;
}

footer section:nth-child(2) div {
	padding: 15px 30px;
}

footer section:nth-child(2) div a {
	font-size: 15px;
	color: #9aa0a6;

	margin-right: 20px;

	text-decoration: none;
}

footer section:nth-child(2) div a:hover {
	text-decoration: underline;
}
